body {
    background: lavender;
}

h4 {
    font-family: Papyrus, fantasy;
    font-size: 20px;
    font-weight: bold;
}

.column {
    float: left;
    width: 400px;
    margin: 0 20px;
    text-align: center;
}

footer {
    padding-top: 100px;
    clear: both;
}