/****** Global Styles ******/
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #5e5d5e;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

/* unvisited link */
a:link {
    color: hotpink;
}

/* visited link */
a:visited {
    color: hotpink;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: blue;
}

/****** Header Styles ******/
.homepage-hero {
    background: url('../img/up-the-cherry-blossom-road.jpg') #f9efef;
    background-size: cover;
    background-position: center;
    height: 800px;
}

header h1 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 92px;
    color: #E6E6E6;
    padding: 430px 0 0px 25px;
}

header h2 {
    float: right;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 25px;
    color: #E6E6E6;
    padding: 0px 0 0px 600px;
}

div .back-link {
    float: right;
    margin-right: 0 50px 0 0;
}

/****** Advice Styles ******/
#source-duck-image #source-duck-img {
    padding: 0 360px;
}

#advice {
    background: #F5F5F5;
    text-align: center;
}

#advice .content-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

#advice .advice-list {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

#advice h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-bottom: 40px;
}

#advice h4 {
    font-size: 24px;
    line-height: 36px;
    margin: 30px 0px 20px 0px;
}

#advice p {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
}

/****** Footer Styles ******/

#footer {
    background: url("../img/cherry blossoms_pink washed.png") #f9e9e9;
    opacity: .5;
}

#footer .content-wrapper {
    padding: 110px 0;
}

#footer .footer-image {

    width: 600px;
    height: auto;
}

#footer p {
    font-size: 20px;
    text-align: left;
    color: #000000;
}